<template>
  <div class="body">
    <h1>{{ msg }}</h1>
    <ul>
      <li><a href="/users/" rel="noopener">Usuarios</a></li>
      <li><a href="/products/" rel="noopener">Productos</a></li>
      <li><a href="/orders/" rel="noopener">Pedidos</a></li>
    </ul>

  </div>
</template>

<script>
export default {
  name: 'BodyBasic',
  props: {
    msg: String
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
