<template>
  <button @click="showModal = true">Crear</button>
  <teleport to="#app">
    <Modal v-show="showModal" @close="showModal = false">
      <form @submit.prevent="submit">
        <div class="field">Usuario</div>
        <select v-model="user" required>
          <option disabled value="">Por favor seleccione uno</option>
          <option  v-for="(user , index) in item_user" v-bind:key="index" :value=user>
            {{ user.firstName }} {{ user.lastName }}
          </option>
        </select>
        <div class="field">Producto</div>
        <select v-model="product" required>
          <option disabled value="">Por favor seleccione uno</option>
          <option  v-for="(product , index) in item_product" v-bind:key="index" :value=product>
            {{ product.name }}
          </option>
        </select>
        <div class="field">
          <label>Cantidad</label>
          <input type="number" v-model="quantity" />
        </div>
        <div class="action">
          <button>Agregar</button>
        </div>
      </form>
    </Modal>
  </teleport>
</template>

<script setup>
import { ref, defineEmits, toRefs, defineProps } from "vue";
import Modal from "./Modal.vue";

const showModal = ref(false);
const user = ref("");
const product = ref("");
const quantity = ref(1);

const props = defineProps({
  item_user: {
    type: Array,
    default: () => [],
  },
  item_product: {
    type: Array,
    default: () => [],
  },
});

const { item_product } = toRefs(props);

const emit = defineEmits(["create"]);

const submit = () => {
  showModal.value = !showModal.value;
  emit("create", {
    user: user.value,
    product: product.value,
    quantity: quantity.value,
  });
  user.value = "";
  product.value = "";
  quantity.value = 1;
};
</script>

<style scoped>
button {
  color: white;
  font-size: 1rem;
  background-color: aquamarine;
  border: none;
  width: 20%;
  padding: 20px 20px;
  border-radius: 60px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

form {
  font-size: 1.24rem;
  width: 100%;
}

form .action {
  padding: 0 24px;
}

.field {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px 24px;
}

label {
  margin-bottom: 8px;
}

input,
select,
textarea {
  font-size: 1.24rem;
  border: 2px solid var(--brand-blue);
  border-radius: 8px;
  padding: 8px;
}

input[type="number"] {
  text-align: right;
}

.radio-label {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.radio-label span {
  margin-top: 4px;
  margin-left: 8px;
}

input[type="radio"] {
  appearance: none;
  width: 1.24rem;
  height: 1.24rem;
  color: var(--brand-blue);
  border: 2px solid var(--brand-blue);
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: var(--brand-blue);
}
</style>
