<template>
  <div class="movement">
    <div class="content">
      <p><strong>Producto:</strong> {{ name }}</p>
      <p><strong>Precio:</strong> {{ price }}Bs -:- <strong>Cantidad:</strong> {{ quantity }}</p>
      {{listar(id)}}
    </div>
  </div>
</template>

<script>
import apiBack2e3 from "../services/apiBack2e3";

export default {
  name: 'ItemOrderLista',
  data () {
    return {
      name: String,
      price: Number
    }
  },
  props: {
    id: Number,
    quantity: Number,
  },
  methods: {
    listar(id) {
      apiBack2e3.orderItems(id).then(res => {
        this.name = res.product.name
        this.price = res.product.price
      })
    },
  }
}
</script>

<style scoped>
.movement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  background-color: #fdfdfd;
  border-radius: 8px;
  box-sizing: border-box;
}

.movement .content {
  width: 100%;
}

.movement .action {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

h4,
p {
  margin: 0;
  padding: 0;
}

h4 {
  margin-bottom: 8px;
}

.movement .action img {
  margin-bottom: 0px;
}

.red {
  color: red;
}

.green {
  color: green;
}
</style>
