<template>
  <div class="listData">
    <div class="content">
      <ItemList
          v-for="{ id, name, description, price, image } in listData"
          :key="id"
          :id="id"
          :title="name"
          :title2="description"
          :data="price"
          :image="image"
          @remove="remove"
      />
    </div>
  </div>
</template>

<script setup>
import { toRefs, defineProps, defineEmits } from "vue";
import ItemList from "./ItemLista";

const props = defineProps({
  listData: {
    type: Array,
    default: () => [],
  },
});

const { listData } = toRefs(props);

const emit = defineEmits(["remove"]);

const remove = (id) => {
  emit("remove", id);
};
</script>

<style scoped>
.listData {
  max-height: 100%;
  padding: 0 20%;
  margin-bottom: 14px;
}

.title {
  margin: 8px 16px 24px 16px;
  color: var(--brand-blue);
}

.content {
  max-height: 68vh;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
}
</style>
