<template>
  <BodyBasic msg="Pedidos"/>
  <Form
      :item_user=users
      :item_product=products
      @create="create"
  />
  <ListaDefault
      :listData=orders
      @remove="remove"
  />
</template>

<script>
import BodyBasic from '../../components/Body.vue';
import ListaDefault from '../../components/ListOrder';
import apiBack2e3 from "../../services/apiBack2e3";
import Form from "../../components/FormOrder";

export default {
  name: 'App',
  data () {
    this.listar()
    this.listar_usuarios()
    this.listar_productos()
    return {
      orders: [],
      users: [],
      products: [],
      order: {} ,
    }
  },
  components: {
    BodyBasic,
    ListaDefault,
    Form
  },
  methods: {
    listar() {
      apiBack2e3.orders().then(res => {
        this.orders = res
      })
    },
    remove(id) {
      apiBack2e3.delete_order(id).then(res => {
        console.log(res)
        this.listar()
      })
    },
    listar_usuarios() {
      apiBack2e3.users().then(res => {
        this.users = res
      })
    },
    listar_productos() {
      apiBack2e3.products().then(res => {
        this.products = res
      })
    },
    create(order) {
      this.order = order
      apiBack2e3.create_order(order).then(res => {
        console.log(res)
        this.listar()
      })
    },
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
