<template>
  <BodyBasic msg="Usuarios" />
  <ListaDefault
      :listData=users
      @remove="remove"
  />
</template>

<script>
import BodyBasic from '../../components/Body.vue';
import ListaDefault from '../../components/ListUser';
import apiBack2e3 from "../../services/apiBack2e3";

export default {
  name: 'App',
  data () {
    this.listar()
    return {
      users: [],
    }
  },
  components: {
    BodyBasic,
    ListaDefault
  },
  methods: {
    listar() {
      apiBack2e3.users().then(res => {
        this.users = res
      })
    },
    remove(id) {
      apiBack2e3.delete_user(id).then(res => {
        console.log(res)
        this.listar()
      })
    },
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
